{% extends 'base.html.twig' %}

{% form_theme formContact 'bootstrap_5_layout.html.twig' %}

{% block body %}
    {{ form(formContact) }}

    <hr />

    <h3>Contacts</h3>

    <table>
        <tr>
            <th>Email</th>
            <th>Title</th>
        </tr>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.getEmail() }}</td>
            <td>{{ contact.getTitle() }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}