*.txt
/docker-compose.yml
mysql-data
.idea
/module4/chapter1/lesson1/vendor
/module3/chapter2/online-store-project/vendor
/module4/chapter1/lesson3/vendor

/vendor/
/module4/chapter1/lesson4/dotenv/vendor
/module4/chapter1/lesson4/email-validator/vendor
/module4/chapter1/lesson4/faker/vendor
/module4/chapter1/lesson4/image/vendor
/module4/chapter2/lesson1/vendor
/module4/chapter2/lesson3/vendor
/module4/chapter2/lesson4/vendor
/module4/chapter3/lesson2/vendor
/module4/chapter3/lesson4/vendor
/module4/chapter4/blog-api-slim/vendor
/module4/chapter4/lesson1/slim/vendor
/module4/chapter4/blog-api-slim/.env
/module5/chapter2/lesson3/vendor
/module5/chapter1/lesson3/vendor
/module5/chapter1/lesson4/vendor
/module5/chapter3/paymentAPI/vendor
/module5/chapter3/paymentAPI/.env
/module4/chapter3/blog-api/vendor
